

.middle{
 
}

.text_01 {
    padding: 2em;
    color: white;
}

.text_02{
    padding-bottom : 1.5em;
    padding-top: 1.5em;
}

.topBar{
    background-color: black;
}

.button_01{
    padding: 4em;
}

.list_01{
    font-size: medium;
}

